In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [3]:
jan = os.path.join("../raw .csv/2021/JC-202101-citibike-tripdata.csv")
feb = os.path.join("../raw .csv/2021/JC-202102-citibike-tripdata.csv")
mar = os.path.join("../raw .csv/2021/JC-202103-citibike-tripdata.csv")

jan_trip_data = pd.read_csv(jan)
feb_trip_data = pd.read_csv(feb)
mar_trip_data = pd.read_csv(mar)

In [4]:
jan_trip_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [5]:
#merge tabels
framesII = [jan_trip_data, 
            feb_trip_data, 
            mar_trip_data, 
            ]

In [6]:
resultII = pd.concat(framesII)

In [7]:
resultII.to_csv("../Combined .csv/2021_trip_data.csv")

In [8]:
 combined_csv = os.path.join("../Combined .csv/2021_trip_data.csv" )
 trip_history = pd.read_csv(combined_csv)

In [9]:
trip_history

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33187,16838,493,2021-03-31 23:49:04.6750,2021-03-31 23:57:17.7900,3185,City Hall,40.717732,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,45261,Customer,1970,0
33188,16839,296,2021-03-31 23:49:33.7240,2021-03-31 23:54:29.8450,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,45499,Customer,1970,0
33189,16840,346,2021-03-31 23:53:36.2020,2021-03-31 23:59:22.2370,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,42635,Customer,1970,0
33190,16841,872,2021-03-31 23:54:36.3950,2021-04-01 00:09:09.1080,3193,Lincoln Park,40.724605,-74.078406,3206,Hilltop,40.731169,-74.057574,27102,Customer,1970,0
33191,16842,587,2021-03-31 23:58:04.5740,2021-04-01 00:07:52.2170,3225,Baldwin at Montgomery,40.723659,-74.064194,3276,Marin Light Rail,40.714584,-74.042817,45940,Customer,1970,0

In [10]:
trip_history.count()

Unnamed: 0                 33192
tripduration               33192
starttime                  33192
stoptime                   33192
start station id           33192
start station name         33192
start station latitude     33192
start station longitude    33192
end station id             33192
end station name           33192
end station latitude       33192
end station longitude      33192
bikeid                     33192
usertype                   33192
birth year                 33192
gender                     33192
dtype: int64