In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [3]:
jan = os.path.join("../raw .csv/2019/JC-201901-citibike-tripdata.csv")
feb = os.path.join("../raw .csv/2019/JC-201902-citibike-tripdata.csv")
mar = os.path.join("../raw .csv/2019/JC-201903-citibike-tripdata.csv")
apr = os.path.join("../raw .csv/2019/JC-201904-citibike-tripdata.csv")
may = os.path.join("../raw .csv/2019/JC-201905-citibike-tripdata.csv")
jun = os.path.join("../raw .csv/2019/JC-201906-citibike-tripdata.csv")
jul = os.path.join("../raw .csv/2019/JC-201907-citibike-tripdata.csv")
aug = os.path.join("../raw .csv/2019/JC-201908-citibike-tripdata.csv")
sep = os.path.join("../raw .csv/2019/JC-201909-citibike-tripdata.csv")
oct = os.path.join("../raw .csv/2019/JC-201910-citibike-tripdata.csv")
nov = os.path.join("../raw .csv/2019/JC-201911-citibike-tripdata.csv")
dec = os.path.join("../raw .csv/2019/JC-201912-citibike-tripdata.csv")

jan_trip_data = pd.read_csv(jan)
feb_trip_data = pd.read_csv(feb)
mar_trip_data = pd.read_csv(mar)
apr_trip_data = pd.read_csv(apr)
may_trip_data = pd.read_csv(may)
jun_trip_data = pd.read_csv(jun)
jul_trip_data = pd.read_csv(jul)
aug_trip_data = pd.read_csv(aug)
sep_trip_data = pd.read_csv(sep)
oct_trip_data = pd.read_csv(oct)
nov_trip_data = pd.read_csv(nov)
dec_trip_data = pd.read_csv(dec)

In [4]:
jan_trip_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
#merge tabels
framesII = [jan_trip_data, 
            feb_trip_data, 
            mar_trip_data, 
            apr_trip_data,
            may_trip_data, 
            jun_trip_data, 
            jul_trip_data, 
            aug_trip_data,
            sep_trip_data, 
            oct_trip_data, 
            nov_trip_data, 
            dec_trip_data
            ]

In [6]:
resultII = pd.concat(framesII)

In [8]:
resultII.to_csv("../Combined .csv/2019_trip_data.csv")

In [9]:
 combined_csv = os.path.join("../Combined .csv/2019_trip_data.csv" )
 trip_history = pd.read_csv(combined_csv)

In [10]:
trip_history

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Customer,1990,1
404943,19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Subscriber,1989,1
404944,19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Subscriber,1984,1
404945,19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1987,1
404946,19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Subscriber,1988,1

In [11]:
trip_history.count()

Unnamed: 0                 404947
tripduration               404947
starttime                  404947
stoptime                   404947
start station id           404947
start station name         404947
start station latitude     404947
start station longitude    404947
end station id             404947
end station name           404947
end station latitude       404947
end station longitude      404947
bikeid                     404947
usertype                   404947
birth year                 404947
gender                     404947
dtype: int64