In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
jan = os.path.join("../raw .csv/2020/JC-202001-citibike-tripdata.csv")
feb = os.path.join("../raw .csv/2020/JC-202002-citibike-tripdata.csv")
mar = os.path.join("../raw .csv/2020/JC-202003-citibike-tripdata.csv")
apr = os.path.join("../raw .csv/2020/JC-202004-citibike-tripdata.csv")
may = os.path.join("../raw .csv/2020/JC-202005-citibike-tripdata.csv")
jun = os.path.join("../raw .csv/2020/JC-202006-citibike-tripdata.csv")
jul = os.path.join("../raw .csv/2020/JC-202007-citibike-tripdata.csv")
aug = os.path.join("../raw .csv/2020/JC-202008-citibike-tripdata.csv")
sep = os.path.join("../raw .csv/2020/JC-202009-citibike-tripdata.csv")
oct = os.path.join("../raw .csv/2020/JC-202010-citibike-tripdata.csv")
nov = os.path.join("../raw .csv/2020/JC-202011-citibike-tripdata.csv")
dec = os.path.join("../raw .csv/2020/JC-202012-citibike-tripdata.csv")

jan_trip_data = pd.read_csv(jan)
feb_trip_data = pd.read_csv(feb)
mar_trip_data = pd.read_csv(mar)
apr_trip_data = pd.read_csv(apr)
may_trip_data = pd.read_csv(may)
jun_trip_data = pd.read_csv(jun)
jul_trip_data = pd.read_csv(jul)
aug_trip_data = pd.read_csv(aug)
sep_trip_data = pd.read_csv(sep)
oct_trip_data = pd.read_csv(oct)
nov_trip_data = pd.read_csv(nov)
dec_trip_data = pd.read_csv(dec)

In [3]:
jan_trip_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [4]:
#merge tabels
framesII = [jan_trip_data, 
            feb_trip_data, 
            mar_trip_data, 
            apr_trip_data,
            may_trip_data, 
            jun_trip_data, 
            jul_trip_data, 
            aug_trip_data,
            sep_trip_data, 
            oct_trip_data, 
            nov_trip_data, 
            dec_trip_data
            ]

In [5]:
resultII = pd.concat(framesII)

In [6]:
resultII.to_csv("../Combined .csv/2020_trip_data.csv")

In [7]:
 combined_csv = os.path.join("../Combined .csv/2020_trip_data.csv" )
 trip_history = pd.read_csv(combined_csv)

In [8]:
trip_history

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336797,11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
336798,11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
336799,11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
336800,11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
336801,11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [9]:
trip_history.count()

Unnamed: 0                 336802
tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64