In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [3]:
jan = os.path.join("../Combined .csv/2019_trip_data.csv")
feb = os.path.join("../Combined .csv/2020_trip_data.csv")
mar = os.path.join("../Combined .csv/2021_trip_data.csv")

jan_trip_data = pd.read_csv(jan)
feb_trip_data = pd.read_csv(feb)
mar_trip_data = pd.read_csv(mar)

In [4]:
jan_trip_data.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
#merge tabels
framesII = [jan_trip_data, 
            feb_trip_data, 
            mar_trip_data, 
            ]

In [6]:
resultII = pd.concat(framesII)

In [7]:
resultII.to_csv("../Combined .csv/all_trip_data.csv")

In [8]:
 combined_csv = os.path.join("../Combined .csv/all_trip_data.csv" )
 trip_history = pd.read_csv(combined_csv)

In [9]:
trip_history

,Unnamed: 0,Unnamed: 0.1,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,1,1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,2,2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,3,3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,4,4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774936,33187,16838,493,2021-03-31 23:49:04.6750,2021-03-31 23:57:17.7900,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,45261,Customer,1970,0
774937,33188,16839,296,2021-03-31 23:49:33.7240,2021-03-31 23:54:29.8450,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,45499,Customer,1970,0
774938,33189,16840,346,2021-03-31 23:53:36.2020,2021-03-31 23:59:22.2370,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,42635,Customer,1970,0
774939,33190,16841,872,2021-03-31 23:54:36.3950,2021-04-01 00:09:09.1080,3193,Lincoln Park,40.724605,-74.078406,3206,Hilltop,40.731169,-74.057574,27102,Customer,1970,0
774940,33191,16842,587,2021-03-31 23:58:04.5740,2021-04-01 00:07:52.2170,3225,Baldwin at Montgomery,40.723659,-74.064194,3276,Marin Light Rail,40.714584,-74.042817,45940,Customer,1970,0

In [10]:
trip_history.count()

Unnamed: 0                 774941
Unnamed: 0.1               774941
tripduration               774941
starttime                  774941
stoptime                   774941
start station id           774941
start station name         774941
start station latitude     774941
start station longitude    774941
end station id             774941
end station name           774941
end station latitude       774941
end station longitude      774941
bikeid                     774941
usertype                   774941
birth year                 774941
gender                     774941
dtype: int64